source https://api.nuget.org/v3/index.json

nuget dotNetRdf.Ontology 3.4.0
nuget dotNetRdf.Skos 3.4.0
nuget FSharp.Core
github TheAngryByrd/FsLibLog src/FsLibLog/FsLibLog.fs
nuget FSharp.TypeProviders.SDK 8.1.0
github hyperthunk/MorkSharp.TypeProviders:main

group Build
source https://www.nuget.org/api/v2

nuget FAKE